
__pycache__/


# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache
.pytest_cache/

# VS Code
.vscode/

# MacOS
.DS_Store
